<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-6"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQVaLFqF4hmQ3mqCbQgeP4wQxdiZubbSZjX05IoTl7HnQmeNeX-zvPSbb8_" alt=""></div>
    <div class="col-md-4 col-xs-6"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQVaLFqF4hmQ3mqCbQgeP4wQxdiZubbSZjX05IoTl7HnQmeNeX-zvPSbb8_" alt=""></div>
    <div class="col-md-4 col-xs-6"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQVaLFqF4hmQ3mqCbQgeP4wQxdiZubbSZjX05IoTl7HnQmeNeX-zvPSbb8_" alt=""></div>
  </div>
</div>
